auto-save-list/
elpa/
straight/
transient/
eln-cache/
.mc-lists.el
local-startup.el
ac-comphist.dat
recentf
helm-adaptive-history
projectile-bookmarks.eld
projectile.cache
desktop.session
desktop.lock
tramp
